<section class="container-dafo">
    <div class="triangle-box">
        <div class="triangle"></div>
    </div>
    <div class="media-strengths-weaknesses">
        <div class="strengths">
            <h2 class="title-strengths-weaknesses">Fortalezas</h2>
            <p class="description-p1">Nuestras decisiones dicen que somos valientes y resilientes, dedicadas a cumplir objetivos y superar los obstáculos, demuestran que somos profesionales y entregadas.
            </p>

            <p class="description">Tenemos formación y experiencias variadas, amplias y de calidad, haciendo nuestros perfiles ricos en conocimientos, competencias ¡y versátiles!</p>
            </p>
            <p class="description"><strong>Somos Adalabers</strong> </p>
        </div>

        <div class="weaknesses">
            <h2 class="title-strengths-weaknesses">Debilidades</h2>
            <p class="description">Buscamos el mejor desempeño en nosotras mismas y en nuestros equipos, siempre ¿fortaleza o debilidad? Las horas se nos pasan volando, sin importar con qué y aún buscamos el mejor equilibrio entre el trabajo autónomo y el trabajo en equipo.
            </p>
        </div>
    </div>

</section>