<section class="dafo">
    <div class="dafo__triangle-box">
        <div class="dafo__triangle-box--triangle"></div>
    </div>
    <div class="dafo__container">
        <div class="dafo__container--strengths">
            <h2 class="dafo__container--title-strengths-weaknesses">Fortalezas</h2>
            <p class="description-p1">Nuestra decisión de participar en Adalab muestra que somos valientes y
                resilientes. La superación de retos como este y nuestro enfoque hacia el mejor resultado, demuestran que
                somos profesionales y entregadas.
            </p>

            <p class="description">Entre las cinco reunimos una diversa y extensa formación académica y experiencia
                laboral, convirtiéndonos en un equipo con un
                perfil rico en conocimientos, competencias y versatilidad.</p>
            </p>
            <p class="description"><strong>Somos Adalabers!!!</strong> </p>
        </div>

        <div class="dafo__container--weaknesses">
            <h2 class="dafo__container--title-strengths-weaknesses">Debilidades</h2>
            <p class="description">Buscamos el mejor desempeño en nosotras mismas y en las demás compañeras,
                con altas expectativas;
                fortaleza cuando está bien gestionado, debilidad cuando no es así. </p>
            <p class="description"> Las horas se nos pasan volando, hasta en los pequeños detalles. Y aunque mejoramos
                con cada nuevo sprint, aún
                estamos buscando los equilibrios entre el trabajo el autónomo y el colaborativo.</p>
        </div>
    </div>

</section>