<footer class="container footer">
    <div class="copyright">The Fearle.scss &#169; 2021</div>
    <ul class="footer__list">
        <il class="footer__container">
            <a class="footer__link" href="http://localhost:3000//#anchor-team">Equipo</a>
        </il>
        <il class="footer__container">
            <a class="footer__link" href="http://localhost:3000//#anchor-who">Quiénes somos</a>
        </il>
        <il class="footer__container">
            <a class="footer__link" href="./contact.html" target="_blank">Contacto</a>
        </il>
    </ul>
    <div class="logo__div">
        <img class="logo" src="./assets/images/adalab_brand.png" alt="logo-adalab" />
    </div>
</footer>