<footer class="container footer">
  <div class="copyright">The Fearle.css &#169; 2020</div>
  <ul class="footer__list">
    <il class="footer__container">
      <a class="footer__link" href="#anchor-team">EQUIPO</a>
    </il>
    <il class="footer__container">
      <a class="footer__link" href="#anchor-who">QUIÉNES SOMOS</a>
    </il>
    <il class="footer__container">
      <a class="footer__link" href="./contact.html">CONTACTO</a>
    </il>
  </ul>
  <div class="logo__div">
    <img
      class="logo"
      src="./assets/images/adalab_brand.png"
      alt="logo-adalab"
    />
  </div>
</footer>
