<footer class="page__footer">
    <section class="container footer">
        <div class="copyright">The Fearle.css &#169; 2020</div>
        <ul class="list-footer">
            <il class="container-footer">
                <a class="link-footer" href="#anchor-team">EQUIPO</a>
            </il>
            <il class="container-footer">
                <a class="link-footer" href="#anchor-who">QUIÉNES SOMOS</a>
            </il>
            <il class="container-footer">
                <a class="link-footer" href="./contact.html">CONTACTO</a>
            </il>
        </ul>
        <div class="logo-div">
            <img class="logo" src="./assets/images/adalab_brand.png" alt="logo-adalab" />
        </div>
    </section>
</footer>