<form class="form" action="//formspree.io/irenemanasalcaide@gmail.com" method="POST"></form>
<!--en action cambiar el url del mail-->

<label for="name">Nombre completo <span class="star">*</span></label>
<input placeholder="Nombre..." id="name" type="text" name="name" required />

<label for="emailAddress">Email <span class="star">*</span></label>
<input value="nombre.apellidos@mail.com" type="email" id="emailAddress" name="email" required />

<label for="telephoneNumber">Teléfono</label>
<input placeholder="Ej:123456789" id="telephoneNumber" type="number" name="telephoneNumber" />

<label for="comments">Mensaje <span class="star">*</span></label>
<textarea id="comments" placeholder="¿Qué necesitas?" name="comments" required></textarea>

<input type="submit" value="Enviar" />

</form>