<form class="form" action="https://formspree.io/f/xzbkyglo" method="POST">
  <div>
    <label for="name">Nombre completo <span class="star">*</span></label>
    <input placeholder="Nombre..." id="name" type="text" name="name" required />
  </div>

  <div>
    <label for="emailAddress">Email <span class="star">*</span></label>
    <input
      value="nombre.apellidos@mail.com"
      type="email"
      id="emailAddress"
      name="email"
      required
      class="box"
    />
  </div>

  <div>
    <label for="telephoneNumber">Teléfono</label>
    <input
      placeholder="Ej:123456789"
      id="telephoneNumber"
      type="number"
      name="telephoneNumber"
    />
  </div>

  <div>
    <label for="comments">Mensaje <span class="star">*</span></label>
    <textarea
      id="comments"
      placeholder="¿Qué necesitas?"
      name="comments"
      required
    ></textarea>
  </div>

  <input type="submit" value="Enviar" class="button" />
</form>
