<form class="form" action="https://formspree.io/f/xzbkyglo" method="POST" class="form">
    <div class="form__info">
        <label for="name">Nombre completo <span class="star">*</span></label>
        <input placeholder="Nombre..." id="name" type="text" name="name" required class="form__info--box" />
    </div>

    <div class="form__info">
        <label for="emailAddress">Email <span class="star">*</span></label>
        <input value="nombre.apellidos@mail.com" type="email" id="emailAddress" name="email" required class="form__info--box-mail" />
    </div>

    <div class="form__info">
        <label for="telephoneNumber">Teléfono</label>
        <input placeholder="Ej:123456789" id="telephoneNumber" type="number" name="telephoneNumber" class="form__info--box-phone" />
    </div>

    <div class="form__info">
        <label for="comments">Mensaje <span class="star">*</span></label>
        <textarea id="comments" placeholder="¿Qué necesitas?" name="comments" required class="form__info--box-message"></textarea>
    </div>

    <input type="submit" value="Enviar" class="form__button" />
</form>