<header class="page__header container-header">

    <h2 class="heading">The Fearle.css</h2>

    <nav class="navigation">
        <ul class="list-header">
            <li class="list-item">
                <a href="#anchor-team" class="link-header">Equipo</a>
            </li>
            <li class="list-item">
                <a href="#anchor-who" class="link-header" href="">quienes somos</a>

            </li>
            <li class="list-item">
                <a class="link-header" href="./contact.html" target="_blank">contacto</a>
            </li>
        </ul>
    </nav>
</header>