<header class="header">


    <img class="header__logo" src="./assets/images/thefearlescss.png" alt="logo the fearle.css" />
    <nav class="header__nav">
        <ul class="nav-container">
            <li class="nav-container__item">
                <a href="./#anchor-team" class="nav-container__item--link">Equipo</a>

            </li>
            <li class="nav-container__item">
                <a href="./#anchor-who" class="nav-container__item--link">Quienes somos</a>

            </li>
            <li class="nav-container__item">
                <a class="nav-container__item--link" href="./contact.html" target="_blank">Contacto</a>
            </li>
        </ul>
    </nav>
</header>