<header class="header">

    <h2 class="header__heading">The Fearle.css</h2>

    <nav class="header__nav">
        <ul class="nav-container">
            <li class="nav-container__item">
                <a href="http://beta.adalab.es/Project-promo-l-module-1-team-7/#anchor-team" class="nav-container__item--link">Equipo</a>
            </li>
            <li class="nav-container__item">
                <a href="http://beta.adalab.es/Project-promo-l-module-1-team-7/#anchor-who" class="nav-container__item--link">quienes somos</a>

            </li>
            <li class="nav-container__item">
                <a class="nav-container__item--link" href="./contact.html" target="_blank">contacto</a>
            </li>
        </ul>
    </nav>
</header>