<section class="container-hero">
    <div class="image"></div>
</section>
<section class="container" id="anchor-team">
    <h2 class="team">Contacto</h2>
    <div class="team-container">
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sequi, dolores
            incidunt recusandae laborum nesciunt laudantium beatae. Neque, dolore expedita quod quaerat adipisci
            vel perspiciatis. Et consectetur fuga voluptatem commodi?</p>
    </div>
    <small>Todos los campos marcados con <span class="contact__main--star">*</span>son obligatorios</small>
</section>

<!-- el color del contacto es incorrecto y revisar tamaño-->