<section class="container" id="anchor-team">
    <h2 class="contact">Contacto</h2>
    <div class="contact-container">
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste laudantium odit eveniet vero, possimus quisquam enim mollitia sed fugit placeat quia omnis, voluptate itaque maxime explicabo, quidem incidunt inventore. Vero?</p>

        <small class="small">Todos los campos marcados con <span class="star">*</span> son obligatorios</small>
    </div>

</section>