<section class="container" id="anchor-team">
    <h2 class="team">Equipo</h2>
    <div class="team-container">
        <p class="description-p1">Somos un equipo formado por cinco mujeres valientes que nos adaptamos a los cambios, incluso a los de 180 grados.</p>
        <p class="description">Futuras programadoras Front-End, todas venimos de diferentes ámbitos profesionales y estamos juntas en este nuevo y apasionante viaje. Es la era de las mujeres en las nuevas tecnologías: es nuestro momento!</p>
    </div>
</section>