@mixin name() {
    height: 45px;
    font-family: var(--font-family-principal);
    font-size: 20px;
    font-weight: normal;
    color: var(--color-black);
    line-height: 45px;
}

@mixin bio() {
    text-align: center;
    font-family: var(--font-family-principal);
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--font-color-grey);
    margin: 0 15px 15px;
}

@mixin icon() {
    display: flex;
    justify-content: space-between;
    width: 124px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    text-decoration: none;
    color: var(--color-blue-green);
}

@mixin frame($height, $width, $margin, $border) {
    height: $height;
    width: $width;
    margin: $margin;
    border: $border;
}

@mixin box() {
    font-family: var(--font-family-principal);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 290px;
    height: 45px;
    padding: 11px 0 15px 15px;
    margin-top: 7px;
    margin-bottom: 13px;
    color: var(--font-color-grey);
    border: solid 1px #b8b8b9;
    border-radius: 3px;
}