.button {
    width: 290px;
    height: 45px;
    margin: 30px 0 0;
    padding: 11px 158px 12px 74px;
    border-radius: 4px;
    background-color: var(--color-blue-green);
    text-transform: uppercase;
    color: var(--font-color-white);
}