.container-hero {
    margin-bottom: 0;
    height: 461px;
    /*suma de 421 + (80/2) = 421 + 40 = 461*/
    position: relative;
}

.image {
    background: url("../images/hero-equipo-7.png") center no-repeat;
    /* PREGUNTAR POR QUÉ NO NECESITA NUEVA RUTA*/
    background-size: cover;
    top: 0;
    display: flex;
    align-items: flex-end;
    height: 421px;
    width: 100%;
}

.slogan-box {
    padding: 0 15px 0 15px;
}

.slogan {
    font-family: var(--font-family-principal);
    color: var(---color-black);
    font-size: 18px;
    font-weight: 600;
    /*por ser el slogan largo, proponer a la diseñadora que no sea bold*/
    width: 290px;
    height: 80px;
    background-color: var(--font-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;
}