.main__container-hero {
  margin-bottom: 0;
  height: 461px;
  /*suma de 421 + (80/2) = 421 + 40 = 461*/
  position: relative;
}

.main__image {
  background: url("../images/hero-equipo-7.png") center no-repeat;
  /* PREGUNTAR POR QUÉ NO NECESITA NUEVA RUTA*/
  background-size: cover;
  top: 0;
  display: flex;
  align-items: flex-end;
  height: 421px;
  width: 100%;
}

.container__slogan-box {
  padding: 0 15px 0 15px;
  @media all and (min-width: 768px) {
    padding: 0 281px 0 46px;
  }
  @media all and (min-width: 1200px) {
    margin-left: 92px; /*138-46*/
  }
  &--text {
    font-family: var(--font-family-principal);
    color: var(---color-black);
    font-size: 18px;
    font-weight: 600;
    width: 290px;
    height: 80px;
    background-color: var(--font-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;
    @media all and (min-width: 768px) {
      width: 441px;
      height: 80px;
      opacity: 0.8;
      transform: translateY(-100%);
    }
    @media all and (min-width: 1200px) {
      width: 574px;
      height: 90px;
      padding: 15px 30px;
      font-size: 24px;
    }
  }
}


