.main__container-hero {
  margin-bottom: 0;
  height: 461px;
  width: 100%;
  position: relative;
}

.main__image {
  background: url("../images/index-image.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  /*display: flex;
  align-items: center;*/
  height: 421px;
  width: 100%;
}

.container__slogan-box {
  padding: 0 15px 0 15px;
  @media all and (min-width: 768px) {
    padding: 0 281px 0 46px;
  }
  @media all and (min-width: 1200px) {
    margin-left: 92px;
  }
  &--text {
    font-family: var(--font-family-principal);
    color: var(---color-black);
    font-size: 18px;
    font-weight: 600;
    width: 290px;
    height: 82px;
    background-color: var(--font-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 5px;
    &:after {
      animation-duration: 6s;
      animation-name: slogan;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      content: "Fearle.scss leads to success!";
    }
    @keyframes slogan {
      from {
        width: 290px;
        height: 80px;
        bottom: 0;
        transform-origin: 50% 100%;
        transform: perspective(300px) rotateX(25deg);
        content: "Fear is the path to the dark side.";
      }
      25% {
        width: 290px;
        height: 90px;
        content: "Fear is the path to the dark side. Fear leads to anger.";
      }
      50% {
        width: 290px;
        height: 100px;
        content: "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate.";
      }
      100% {
        width: 290px;
        height: 100px;
        top: 0;
        bottom: 60%;
        content: "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate. Fearle.scss leads to success!";
      }
    }
    @media all and (min-width: 768px) {
      width: 441px;
      height: 80px;
      opacity: 0.8;
      transform: translateY(-100%);
      &:after {
        animation-duration: 6s;
        animation-name: slogan;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        content: "Fearle.scss leads to success!";
      }
      @keyframes slogan {
        from {
          width: 441px;
          height: 80px;
          bottom: 0;
          transform-origin: 50% 100%;
          transform: perspective(300px) rotateX(25deg);
          content: "Fear is the path to the dark side.";
        }
        25% {
          width: 441px;
          height: 80px;
          content: "Fear is the path to the dark side. Fear leads to anger.";
        }
        50% {
          width: 441px;
          height: 80px;
          content: "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate.";
        }
        100% {
          width: 441px;
          height: 80px;
          top: 0;
          bottom: 60%;
          content: "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate. Fearle.scss leads to success!";
        }
      }
    }
    @media all and (min-width: 1200px) {
      width: 574px;
      height: 90px;
      padding: 15px 30px;
      font-size: 24px;
      &:after {
        animation-duration: 6s;
        animation-name: slogan;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        content: "Fearle.scss leads to success!";
      }
      @keyframes slogan {
        from {
          width: 574px;
          height: 90px;
          bottom: 0;
          transform-origin: 50% 100%;
          transform: perspective(300px) rotateX(25deg);
          content: "Fear is the path to the dark side.";
        }
        25% {
          width: 574px;
          height: 90px;
          content: "Fear is the path to the dark side. Fear leads to anger.";
        }
        50% {
          width: 574px;
          height: 90px;
          content: "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate.";
        }
        100% {
          width: 574px;
          height: 90px;
          top: 0;
          bottom: 60%;
          content: "Fear is the path to the dark side. Fear leads to anger. Anger leads to hate. Fearle.scss leads to success!";
        }
      }
    }
  }
}
