.contact {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 30px;
  font-family: var(--font-family-secundary);
  font-size: 24px;
  color: var(--color-blue-green);
  font-weight: 500;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    margin-top: 30px;
  }
  &__text {
    @media all and (min-width: 768px) {
      height: 120px;
      width: 442px;
      margin-left: 148px;
      margin-right: 148px;
      margin-bottom: 58px;
    }
  }
}

.small {
  font-family: var(--font-family-principal);
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: var(--font-color-grey);
  margin-bottom: 58px;
  margin-top: 30px;
}
