/* Prueba @mixins ¿os parece bien? */
@import "core/variables";

.who {
  text-align: center;
  align-items: center;
  &__tittle {
    text-align: center;
    width: 193px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 45px;
    font-family: var(--font-family-secundary);
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--color-blue-green);
    @media all and (min-width: 768px) {
      padding: 0;
      margin: auto;
      margin-top: 45px;
      margin-bottom: 41px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 3px;
    }
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  &__left {
    @media all and (min-width: 768px) {
      flex-direction: row;
      margin: 0 44px 60px 44px;
    }
    @media all and (min-width: 1200px) {
      flex-direction: row;
      margin: 0 297px 60px 138px;
    }
  }
  &__right {
    @media all and (min-width: 768px) {
      flex-direction: row-reverse;
      margin: 0 44px 60px 44px;
    }
    @media all and (min-width: 1200px) {
      flex-direction: row-reverse;
      margin: 0 138px 60px 297px;
    }
  }
  &__frame {
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 190px;
    width: 190px;
    margin: 0 55px 15px;
    border-radius: 4px;
    @media all and (min-width: 768px) {
      @include frame(215px, 215px, auto, 10px);
    }
    @media all and (min-width: 1200px) {
      @include frame(288px, 288px, auto, 10px);
    }
    &--photo {
      width: 180px;
      height: 180px;
      margin: 5px 70px 15px 70px;
      @media all and (min-width: 768px) {
        margin: 5px;
        height: 207px;
        width: 207px;
      }
      @media all and (min-width: 1200px) {
        height: 278px;
        width: 278px;
      }
    }
  }
  &__left-text {
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      margin-left: 30px;
      margin-bottom: 0;
    }
    @media all and (min-width: 1200px) {
      margin-left: 45px;
    }
    &--name {
      @include name();
    }
    &--bio {
      @include bio();
    }
    &--icons {
      @include icon();
    }
  }
  &__right-text {
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
    @media all and (min-width: 1200px) {
      margin-right: 45px;
    }
    &--name {
      @include name();
    }
    &--bio {
      @include bio();
    }
    &--icons {
      @include icon();
    }
  }
}
.l {
  @media all and (min-width: 768px) {
    text-align: initial;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.r {
  @media all and (min-width: 768px) {
    text-align: end;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
  }
}
/*Pregunta a Iván cómo integrarlo
¡RESUELTO!*/
.link-icon {
  color: var(--color-blue-green);
  &:visited {
    color: var(--color-blue-green);
  }
}
