// Core
@import "core/variables";
@import "core/reset";
// Layout
@import "layout/page";
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/dafo";
@import "layout/who";
@import "layout/footer";
// Components
@import "components/links";
// Pages
@import "pages/index";
@import "pages/contact";

/*MEDIA QUERIES 
    /* MAIN 
    @media all and (min-width: 768px) {
    
    .profile-left {
        display: flex;
        flex-direction: row;
    }
    .profile-right {
        display: flex;
        flex-direction: row-reverse;
    }
} */
