/*COMÚN*/

/* * {
  border: 2px solid blue;
}*/

:root {
  --font-family-principal: "Open Sans", sans-serif;
  --font-family-secundary: "Rubik", sans-serif;
  --main-color: #099d8d;
  --font-color-white: #ffffff;
  --font-color-grey: #54585a;
  --color-cool-grey-opacity: rgba(184, 184, 185, 0.2);
  --color-aqua: #14d9c4;
  --color-blue-green: #099d8d;
  --color-black: #000000;
}

.container {
  margin: 0px 15px;
}

/*HEADER*/

.container-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-family: var(--font-family-secundary);
  color: var(--font-color-white);
  text-transform: uppercase;
}

.navigation {
  width: 100%;
  display: flex;
  font-family: var(--font-family-secundary);
  font-size: 16px;
  color: var(--font-color-white);
  text-transform: uppercase;
}

.heading {
  font-family: var(--font-family-secundary);
  display: flex;
  background-color: var(--main-color);
  text-align: center;
  color: var(--font-color-white);
  height: 60px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.95;
  margin: 0;
  font-size: 16px;
}

.list-header {
  font-family: var(--font-family-secundary);
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: var(--font-color-white);
  background-color: var(--color-aqua);
  height: 45px;
  align-items: center;
  position: fixed;
  top: 60px;
  z-index: 1;
  opacity: 0.9;
  margin: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.link-header {
  color: var(--font-color-white);
  text-decoration: none;
  font-size: 15px;
}

a.link-header:visited {
  color: var(--font-color-white);
  text-decoration: none;
}

/*HERO AND SLOGAN*/

.container-hero {
  margin-bottom: 0;
  height: 461px;
  /*suma de 421 + (80/2) = 421 + 40 = 461*/
  position: relative;
}

.image {
  background: url("../images/hero-equipo-7.png") center no-repeat;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: flex-end;
  height: 421px;
  width: 100%;
}

.slogan-box {
  padding: 0 15px 0 15px;
}

.slogan {
  font-family: var(--font-family-principal);
  color: var(---color-black);
  font-size: 18px;
  font-weight: 600;
  /*por ser el slogan largo, proponer a la diseñadora que no sea bold*/
  width: 290px;
  height: 80px;
  background-color: var(--font-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  width: 100%;
}

/*MAIN*/

.main {
  position: relative;
  top: 0;
  border-bottom: solid var(--font-color-grey) 1px;
}

/*DAFO*/

/*equipo y dafo lo pondría como secciones, ya que un articulo especifica un contenido independiente y autónomo que funciona por si mismo*/

.container-dafo {
  padding: 30px 15px 30px 15px;
  background-color: var(--color-cool-grey-opacity);
}

.triangle-box {
  /*marta, hemos metido la parte del triangulo en section dafo, para que funcione con media queries*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 30px solid var(--font-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-30px);
}

.title-strengths-weaknesses {
  color: var(--color-blue-green);
  font-family: var(--font-family-secundary);
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.strengths {
  margin-bottom: 30px;
}

.who {
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
}

.team {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;
  font-family: var(--font-family-secundary);
  /*la letra Q no queda igual, revisar*/
  font-size: 24px;
  color: var(--color-aqua);
  /* nos parece que queda raro que tenga otro color, es correcto?*/
  font-weight: 500;
  /* teniamos antes 600, pero no se si es necesario ponerlo*/
  text-transform: uppercase;
}

.we-are {
  text-align: center;
  margin-bottom: 30px;
  font-family: var(--font-family-secundary);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: var(--color-blue-green);
  font-weight: 600;
}

.who-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 55px 15px;
  border-radius: 4px;
}

.frame {
  width: 190px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.08);
}

.photo {
  width: 180px;
  height: 180px;
  margin-top: 5px;
}

.name {
  height: 45px;
  font-family: var(--font-family-principal);
  font-size: 20px;
  font-weight: normal;
  color: var(--color-black);
  line-height: 2.25;
}

.description-p1 {
  /*he separado el parrafo 1 para darle un espacio*/
  text-align: center;
  font-family: var(--font-family-principal);
  font-size: 16px;
  color: var(--font-color-grey);
  margin-bottom: 30px;
}

.description {
  text-align: center;
  font-family: var(--font-family-principal);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--font-color-grey);
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /*Ponemos mejor los margenes en cada container, segun explicacion de columna?*/
}

.container-icons {
  display: flex;
  justify-content: space-between;
  width: 124px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--color-blue-green);
}

.link-icon {
  color: var(--color-blue-green);
}

a.link-icon:visited {
  color: var(--color-blue-green);
}

/* FOOTER */

a.link-footer:visited {
  color: var(--font-color-grey);
  text-decoration: none;
}

.link-footer {
  color: var(--font-color-grey);
  text-decoration: none;
  font-size: 14px;
}

.footer {
  height: 60px;
  height: 240px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.copyright {
  color: #b8b8b9;
  font-family: var(--font-family-principal);
  font-size: 14;
  text-align: center;
  line-height: 20px;
}

.list-footer {
  height: 60px;
  padding: 20px 0 30px;
}

.container-footer {
  color: #54585a;
  opacity: 0.75;
  font-family: var(--font-family-principal);
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 45px;
  width: 115.9px;
  display: block;
  margin: auto;
}

.logo-div {
  align-items: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 45px;
}

/*MEDIA QUERIES */

@media all and (min-width: 768px) {
  /* HEADER */
  /* MAIN */
  .left {
    display: flex;
    flex-direction: row;
  }
  .right {
    display: flex;
    flex-direction: row-reverse;
  }

  .l {
    text-align: initial;
    padding-left: 0;
    margin-left: 0;
  }
  .r {
    text-align: end;
    padding-right: 0;
    margin-right: 0;
  }

  /* FOOTER */
  .footer {
    width: 30%;
    height: 90px;
    line-height: 20px;
    padding-bottom: 15px;
    align-items: flex-start;
    margin-left: 45px;
    margin-bottom: 45px;
  }

  .list-footer {
    position: absolute;
    height: 90px;
    right: 0;
    margin-right: 45px;
    padding: 0;
  }
  .container-footer {
    padding-top: 10px;
    align-items: flex-end;
  }
}

@media all and (min-width: 1200px) {
  /* HEADER */
  /* MAIN */
  /* FOOTER */
}
