* {
  border: 2px solid blue;
}

:root {
  --main-color: #099d8d;
}
:root {
  --font-color: #ffffff;
}

.header {
  background-color: var(--main-color);
  width: 768px;
  height: 60px;
  margin: 0 0 281px;
  padding: 15px 45px 14px;
  font-family: Rubik; /* CAMBIAR TIPOGRAFIA*/
  color: var(--font-color);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

.list {
  display: flex;
}

/*.item {
  flex-direction: ;
}*/
